/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#container {
  background-color: #EAEAEA;
  width: auto;
  height: 800px;
}

header{
  width: auto;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow:0px 0px 3px 3px #cacaca;
}


main {
  width: 650px;
  height: 650px;
  margin: auto;
}

footer{
  width: auto;
  height: 50px;
}

.footertext {
  text-align: center;
}



h5 {
    padding: 0.5em 1em;
    width: 200px;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    box-shadow:0px 0px 13px 3px #cacaca;

}
h5 p {
    margin: 0;
    padding: 0;
}

#nav-wrap {
  border-bottom:1px solid #bbb;
  position: relative;
  z-index: 101;
  background-color: #fff;
}
#nav {
  margin: 0 auto;
  width: 960px;
  position: relative;
  font-family: RodinPro-B,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
}

/* 親 */
#nav > li > a{
	font-family: RodinPro-B,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
	display: block;
	white-space: nowrap;
	color:#000;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height: 36px;
}

#nav > li > a:hover{
	background-color: #fff;
	color: #009de1;
}
